@charset "UTF-8";
* {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

body, html {
  width: 100%;
  height: 100%; }

body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  display:-webkit-box;
   }

img {
  vertical-align: top; }

.clearfix:after {
  display: block;
  content: '';
  clear: both; }

a {
  color: #000;
  text-decoration: none; }

.clearfix {
  zoom: 1; }

.afooter {
  width: 100%;
  height: 2.225rem;
  background: #9b1f03;
  border-top: 0.05rem solid #c79797; }
  .afooter li {
    width: 25%;
    height: 100%;
    float: left;
    background: url(../img/14.png) no-repeat center center;
    background-size: 100% 100%; }
    .afooter li a {
      display: block;
      width: 100%;
      height: 100%; }
    .afooter li img {
      width: 100%;
      height: 100%; }

.about-header {
  width: 100%;
  height: 2.975rem;
  position: relative; }
  .about-header img {
    width: 100%;
    height: 100%; }
  .about-header .about-btn {
    width: 0.975rem;
    height: 0.9rem;
    background: url(../img/abubtn.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    right: 0.6rem;
    top: 1rem; }

.hom-nav {
  width: 100%;
  height: 3.6rem;
  border: 1px solid #d1d1d1;
  display: none;
  box-sizing: border-box; }
  .hom-nav a {
    display: block;
    height: 100%;
    width: 20%;
    float: left;
    text-align: center; }
    .hom-nav a img {
      width: 1.875rem;
      height: 2rem;
      margin-top: 0.375rem; }
    .hom-nav a p {
      font-family: "微软雅黑";
      font-size: 0.45rem;
      width: 100%;
      line-height: 1rem; }

.about-jg {
  width: 100%;
  height: 0.575rem;
  background: #D1D1D1; }

#about {
  width: 100%;
  height: 100%; }
  #about section {
    width: 100%;
    height: 100%;
    flex: 1;
    overflow: auto; }
    #about section img {
      width: 100%;
      height: 19.75rem; }

#cpjs section {
  width: 100%;
  height: 100%;
  flex: 1;
  -webkit-box-flex:1;
  overflow: auto;
  border: 1px solid #d1d1d1;
  box-sizing: border-box; }
  #cpjs section h2 {
    width: 100%;
    height: 3.325rem;
    background: url(../img/c1.png) no-repeat;
    background-size: 100% 100%; }
  #cpjs section ul {
    width: calc(100%-2.55rem);
    padding: 0 1.275rem; }
    #cpjs section ul .jzgd {
      width: 100%;
      height: 0.85rem;
      margin: 0 auto;
      float: left; }
      #cpjs section ul .jzgd p {
        margin: 0 auto;
        width: 3.25rem;
        font-size: 0.45rem;
        background: #dcdcdc;
        text-align: center;
        line-height: 0.85rem; }
    #cpjs section ul li:nth-child(odd) {
      margin-right: 0.620rem; }
    #cpjs section ul li {
      width: 6.325rem;
      height: 5.8rem;
      float: left; }
      #cpjs section ul li img {
        width: 6.275rem;
        height: 4.35rem;
        border: 1px solid #d1d1d1; }
      #cpjs section ul li p {
        width: 100%;
        line-height: 1.375rem;
        text-align: center;
        font-size: 0.45rem; }

#qyfc section {
  width: 100%;
  height: 100%;
  flex: 1;
  overflow: auto;
  border: 1px solid #d1d1d1;
  box-sizing: border-box; }
  #qyfc section h2 {
    width: 100%;
    height: 2.975rem;
    background: url(../img/images/f1.png) no-repeat;
    background-size: 100% 100%; }
  #qyfc section ul {
    width: calc(100%-2.55rem);
    padding: 0 1.275rem; }
    #qyfc section ul li:nth-child(odd) {
      margin-right: 0.6rem; }
    #qyfc section ul li {
      width: 6.275rem;
      height: 4.35rem;
      border: 1px solid #D1D1D1;
      float: left;
      margin-top: 0.475rem; }
      #qyfc section ul li img {
        width: 100%;
        height: 100%; }

#qyry section {
  width: 100%;
  height: 100%;
  flex: 1;
  overflow: auto;
  border: 1px solid #d1d1d1;
  box-sizing: border-box; }
  #qyry section h2 {
    width: 100%;
    height: 3.55rem;
    background: url(../img/images/r1.png) no-repeat;
    background-size: 100% 100%; }
  #qyry section ul {
    width: 100%; }
    #qyry section ul li {
      width: 100%;
      height: 8.95rem; }
      #qyry section ul li img {
        width: 100%;
        height: 100%; }
  #qyry section div {
    width: 3.25rem;
    height: 0.825rem;
    background: url(../img/images/r3.png) no-repeat;
    background-size: 100% 100%;
    margin: 0.6rem auto; }

#lxwm section {
  width: 100%;
  height: 100%;
  flex: 1;
  overflow: auto;
  border: 1px solid #d1d1d1;
  box-sizing: border-box; }
  #lxwm section h2 {
    width: 100%;
    height: 2.675rem;
    background: url(../img/images/x1.png) no-repeat;
    background-size: 100% 100%; }
  #lxwm section ul {
    padding: 0 0.75rem; }
    #lxwm section ul li {
      padding-left: 0.25rem; }
      #lxwm section ul li p {
        color: #674532;
        font-family: "微软雅黑";
        font-size: 0.525rem;
        line-height: 1.05rem; }
